In [205]:
from google.colab import drive

In [206]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/Datasets/train.csv')

In [207]:
df.head()

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

# **Lowercasing the text**

In [208]:
# for string

text = "HEllo HoW aRe YOu, i aM KuSHAL bAdAL"
print(text.lower())

hello how are you, i am kushal badal

In [209]:
# for data set

df['tweet'] = df['tweet'].str.lower()

In [210]:
df['tweet']

0        !!! rt @mayasolovely: as a woman you shouldn't...
1        !!!!! rt @mleew17: boy dats cold...tyga dwn ba...
2        !!!!!!! rt @urkindofbrand dawg!!!! rt @80sbaby...
3        !!!!!!!!! rt @c_g_anderson: @viva_based she lo...
4        !!!!!!!!!!!!! rt @shenikaroberts: the shit you...
                               ...
24778    you's a muthaf***in lie &#8220;@lifeasking: @2...
24779    you've gone and broke the wrong heart baby, an...
24780    young buck wanna eat!!.. dat nigguh like i ain...
24781                youu got wild bitches tellin you lies
24782    ~~ruffled | ntac eileen dahlia - beautiful col...
Name: tweet, Length: 24783, dtype: object

# **removing numbers/digits**

In [211]:
# for text

import re

text = "Hello 00how are7 you13"
cleaned_text = re.sub(r'\d', " ", text)
print(cleaned_text)

Hello   how are  you

In [212]:
# for df

df['tweet'] = df['tweet'].apply(lambda x: re.sub(r'\d','', x))

In [213]:
df['tweet']

0        !!! rt @mayasolovely: as a woman you shouldn't...
1        !!!!! rt @mleew: boy dats cold...tyga dwn bad ...
2        !!!!!!! rt @urkindofbrand dawg!!!! rt @sbabyli...
3        !!!!!!!!! rt @c_g_anderson: @viva_based she lo...
4        !!!!!!!!!!!!! rt @shenikaroberts: the shit you...
                               ...
24778    you's a muthaf***in lie &#;@lifeasking: @_pear...
24779    you've gone and broke the wrong heart baby, an...
24780    young buck wanna eat!!.. dat nigguh like i ain...
24781                youu got wild bitches tellin you lies
24782    ~~ruffled | ntac eileen dahlia - beautiful col...
Name: tweet, Length: 24783, dtype: object

# removing **punctuations**

In [214]:
# for text

text = " 99!@Kush badal%68d Co[cpiter] scientish!~!!"

cleaned_text = re.sub(r'[^\w\s]', "", text)

In [215]:
# for df

df['tweet'] = df['tweet'].apply(lambda x: re.sub(r'[^\w\d]', ' ', x))

In [216]:
df['tweet']

0            rt  mayasolovely  as a woman you shouldn t...
1              rt  mleew  boy dats cold   tyga dwn bad ...
2                rt  urkindofbrand dawg     rt  sbabyli...
3                  rt  c_g_anderson   viva_based she lo...
4                      rt  shenikaroberts  the shit you...
                               ...
24778    you s a muthaf   in lie     lifeasking   _pear...
24779    you ve gone and broke the wrong heart baby  an...
24780    young buck wanna eat     dat nigguh like i ain...
24781                youu got wild bitches tellin you lies
24782      ruffled   ntac eileen dahlia   beautiful col...
Name: tweet, Length: 24783, dtype: object

# removing first "rt" stands for retweet which make complex to read a **word**

In [217]:
# for df

df['tweet'] = df['tweet'].apply(lambda x : re.sub(r'^(RT|rt)', ' ', x))

In [218]:
df['tweet']

0            rt  mayasolovely  as a woman you shouldn t...
1              rt  mleew  boy dats cold   tyga dwn bad ...
2                rt  urkindofbrand dawg     rt  sbabyli...
3                  rt  c_g_anderson   viva_based she lo...
4                      rt  shenikaroberts  the shit you...
                               ...
24778    you s a muthaf   in lie     lifeasking   _pear...
24779    you ve gone and broke the wrong heart baby  an...
24780    young buck wanna eat     dat nigguh like i ain...
24781                youu got wild bitches tellin you lies
24782      ruffled   ntac eileen dahlia   beautiful col...
Name: tweet, Length: 24783, dtype: object

# stop word **removing**

In [219]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

text = "This is a sample text containing some common English stopwords. It includes words such as 'the', 'is', 'and', 'with', 'some', and 'a'. The goal is to remove these stopwords from the text."

def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return ' '.join(filtered_words)

print(remove_stopwords(text))

# for df

df['tweet'] = df['tweet'].apply(remove_stopwords)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

sample text containing common English stopwords. includes words 'the', 'is', 'and', 'with', 'some', 'a'. goal remove stopwords text.

In [220]:
df['tweet'][121]

'ferocious_ghost stname_bravo aw fag tweet aw lol'

# **spelling correction**

In [221]:
pip install autocorrect

Requirement already satisfied: autocorrect in /usr/local/lib/python3.10/dist-packages (2.6.1)

In [222]:
from autocorrect import Speller
import pandas as pd

spell = Speller(lang='en')

In [223]:
df['tweet']

0        rt mayasolovely woman complain cleaning house ...
1        rt mleew boy dats cold tyga dwn bad cuffin dat...
2        rt urkindofbrand dawg rt sbabylife ever fuck b...
3              rt c_g_anderson viva_based look like tranny
4        rt shenikaroberts shit hear might true might f...
                               ...
24778    muthaf lie lifeasking _pearls corey_emanuel ri...
24779      gone broke wrong heart baby drove redneck crazy
24780    young buck wanna eat dat nigguh like aint fuck...
24781                    youu got wild bitches tellin lies
24782    ruffled ntac eileen dahlia beautiful color com...
Name: tweet, Length: 24783, dtype: object

# **Word Stemming**

In [224]:
# for text
from nltk.stem import PorterStemmer

def stem(text):
  stemmer = PorterStemmer()
  stemmed_text = " ".join([stemmer.stem(word) for word in text.split()])
  return stemmed_text

df['tweet'] = df['tweet'].apply(stem)

In [225]:
df['tweet']

0        rt mayasolov woman complain clean hous amp man...
1        rt mleew boy dat cold tyga dwn bad cuffin dat ...
2        rt urkindofbrand dawg rt sbabylif ever fuck bi...
3                rt c_g_anderson viva_bas look like tranni
4        rt shenikarobert shit hear might true might fa...
                               ...
24778    muthaf lie lifeask _pearl corey_emanuel right ...
24779      gone broke wrong heart babi drove redneck crazi
24780    young buck wanna eat dat nigguh like aint fuck...
24781                       youu got wild bitch tellin lie
24782    ruffl ntac eileen dahlia beauti color combin p...
Name: tweet, Length: 24783, dtype: object

# Word **Tokeniztion**

In [226]:
from nltk.tokenize import word_tokenize
nltk.download('punkt')
def token(text):
  return word_tokenize(text)

df['tweet'] = df['tweet'].apply(token)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [227]:
df['tweet']

0        [rt, mayasolov, woman, complain, clean, hous, ...
1        [rt, mleew, boy, dat, cold, tyga, dwn, bad, cu...
2        [rt, urkindofbrand, dawg, rt, sbabylif, ever, ...
3         [rt, c_g_anderson, viva_bas, look, like, tranni]
4        [rt, shenikarobert, shit, hear, might, true, m...
                               ...
24778    [muthaf, lie, lifeask, _pearl, corey_emanuel, ...
24779    [gone, broke, wrong, heart, babi, drove, redne...
24780    [young, buck, wan, na, eat, dat, nigguh, like,...
24781                [youu, got, wild, bitch, tellin, lie]
24782    [ruffl, ntac, eileen, dahlia, beauti, color, c...
Name: tweet, Length: 24783, dtype: object